body{
    background-image : url(asset4.jpg);
    padding-top: 100;
    text-align: center;
    text-decoration-color: azure;
}
h1{
    color:tomato;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
    font-size: 50px;
    
}
label{
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color:crimson;
    padding-top: 200;
}
